p {
    font-size: 14px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #75bf44;
    background-color: transparent;
}
.carousel-indicators li.active {
    background: #75bf44;
}
.image_footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.text-center {
    text-align: center;
}
.image_footer_center {
    width: 5%;
}
.top-5-percent{
    margin-top: 5%;
}
.bottom-5-percent{
    margin-bottom: 5%;
}
.bottom-20-px{
    margin-bottom: 20px;
}
.main-body{
    width: 70%;
}
.button-round {
    border-radius: 25px;
}
.bg-whitesmoke {
    background-color: #f4f4f4;
}
.bg-green {
    background-color: #75bf44;
}
.left-10-px{
    margin-left: 10px;
}
.font-16{
    font-size: 16px;
}
.font-bold{
    font-weight: bold;
}
.width-15-percent{
    width: 15%;
}
.width-25-percent {
    width:25%;
}
.img-filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#green{
    color:#75bf44;
}
#white{
    color:white;
}
