p {
    font-size: 14px;
}
.image_footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.text-center {
    text-align: center;
}
.image_footer_center {
    width: 5%;
}
.top-5-percent{
    margin-top: 5%;
}
.bottom-5-percent{
    margin-bottom: 5%;
}
.bottom-20-px{
    margin-bottom: 20px;
}
.main-body{
    width: 70%;
}
.button-round {
    border-radius: 25px;
}
.bg-whitesmoke {
    background-color: WhiteSmoke;
}
.bg-green {
    background-color: #44b944;
}
.left-10-px{
    margin-left: 10px;
}
.font-16{
    font-size: 16px;
}
.font-bold{
    font-weight: bold;
}
.btn-width-15-percent{
    width: 15%;
}
#green{
    color:green;
}
#white{
    color:white;
}
