@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.ttf') format('truetype');
}
body {
    font-family: 'Kanit';
}
p {
    font-size: 14px;
}
.main-body{
    width: 70%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #75bf44;
    background-color: transparent;
}
.carousel-indicators li.active {
    background: #75bf44;
}
.image_footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.text-center {
    text-align: center;
}
.image_footer_center {
    width: 5%;
}
.top-5-percent{
    margin-top: 5%;
}
.bottom-5-percent{
    margin-bottom: 5%;
}
.bottom-20-px{
    margin-bottom: 20px;
}
.button-round {
    border-radius: 25px;
}
.bg-whitesmoke {
    background-color: #f4f4f4;
}
.bg-green {
    background-color: #75bf44;
}
.left-10-px{
    margin-left: 10px;
}
.font-16{
    font-size: 16px;
}
.font-bold{
    font-weight: bold;
}
.width-15-percent{
    width: 15%;
}
.width-25-percent {
    width:25%;
}
.width-60-percent {
    width:60%;
}
.img-convert-to-white {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.img-dim {
    filter: brightness(70%);
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.img-full {
    width: 100%
}
#green{
    color:#75bf44;
}
#white{
    color:white;
}

input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #A9A9A9;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="email"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
